#!/usr/bin/env bash

# Enforces `set -euo pipefail` despite user local config.
strict_env

# forces "at least"
direnv_version 2.32.1

# User local additions.
source_env_if_exists .envrc.local

# Docker
export COMPOSE_DOCKER_CLI_BUILD=1
export DOCKER_BUILDKIT=1

############################################
# Required Env Vars for this project.
############################################

## atuin
export ATUIN_DB_USERNAME="${ATUIN_DB_USERNAME:-}"
export ATUIN_DB_PASSWORD="${ATUIN_DB_PASSWORD:-}"
export ATUIN_DB_NAME="${ATUIN_DB_NAME:-}"

## librechat (more env definitions in apps/librechat/.env.example)
export OPENAI_API_KEY="${OPENAI_API_KEY:-}"

############################################
# Optional Env Vars
############################################

## homer
export INIT_ASSETS="${INIT_ASSETS:-1}"
